{% extends 'cms/cms_base.html' %}
{% block title %}
    修改密码
{% endblock %}
{% block head %}
    <style>
        h1{
            color: lightseagreen;
        }
    .form{
        width:500px;
    }
    </style>
    <script src="{{ static('cms/js/modify_password.js') }}"></script>
{% endblock %}
{% block page_title %}
    <h1>修改密码</h1>
{% endblock %}
{% block main_content %}
    <form action="" method="post" class="form">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="form-group">
            <label for="exampleInputPassword1">旧密码:</label>
            <input type="password" name="old_password" class="form-control" id="exampleInputPassword1" placeholder="请输入原始密码">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">新密码:</label>
            <input type="password" name="new_password" class="form-control" id="exampleInputPassword1" placeholder="请输入新密码">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">确认密码:</label>
            <input type="password" name="new_password_repeat" class="form-control" id="exampleInputPassword1" placeholder="请再次输入新密码">
        </div>
        <button type="submit" class="btn btn-info" id="submit">立即保存</button>
    </form>
{% endblock %}